table {
    table-layout: fixed;
    width: 100%;
}

td {
    width: 20%;
    border: 1px solid black;
}

.Title_Section {
    font-weight: bold;
}

.Size_Wide {
    width: 100%;
    height: 55px;
    font-size:x-large;
}

.Size_Half {
    width: 50%;
    height: 35px;
    font-size:large;
}

.Size_WideSkinny {
    width: 95%;
    height: 25px;
    font-size:large;
}

.Font_Center {
    text-align: center;
}

.Primary_Title {
    text-align: center;
    color: black;
}

.Secondary_Title {
    font-size:x-large;
}

body, div, html {
    margin: 3;
    padding: 0;
    background-color: #dbe6ec;
}